# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: Unit Test with Coverage Reports

on: [push]

jobs:
    run:
        name: "Test Coverage"
        runs-on: ${{ matrix.operating-system }}
        strategy:
            fail-fast: false
            matrix:
                operating-system: [ubuntu-latest]
                php-versions: ["8.2"]

        steps:
            - name: Set git to use LF
              run: |
                  git config --global core.autocrlf false
                  git config --global core.eol lf

            - name: Checkout
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

            - name: Install PHP
              uses: shivammathur/setup-php@2.30.1
              with:
                  php-version: ${{ matrix.php-versions }}
                  coverage: xdebug
                  extensions: gd,mbstring
                  tools: phpunit

            - name: Install dependencies
              uses: ramsey/composer-install@3.1.1

            - name: Autoloader
              run: composer dump-autoload

            - name: Run PHPUnit
              run: vendor/bin/phpunit --coverage-text --coverage-clover coverage.xml

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v4.6.0

            - name: Upload coverage to Codacy
              uses: codacy/codacy-coverage-reporter-action@v1.3.0
              with:
                project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}  
                coverage-reports: coverage.xml