# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: Mutation Testing for Unit Tests

on: [push]

jobs:
    run:
        name: "Mutation Testing"
        runs-on: ${{ matrix.operating-system }}
        strategy:
            fail-fast: false
            matrix:
                operating-system: [ubuntu-latest]
                php-versions: ["8.2"]

        steps:
            - name: Set git to use LF
              run: |
                  git config --global core.autocrlf false
                  git config --global core.eol lf

            - name: Checkout
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

            - name: Install PHP
              uses: shivammathur/setup-php@2.35.5
              with:
                  php-version: ${{ matrix.php-versions }}
                  coverage: xdebug
                  extensions: gd,mbstring
                  tools: phpunit, infection

            - name: Install dependencies
              uses: ramsey/composer-install@3.1.1

            - name: Autoloader
              run: composer dump-autoload

            - name: Run Grumphp
              env:
                  STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
              run: vendor/bin/grumphp run

            - name: Send feedback on Github
              if: ${{ failure() }}
              run: |
                  vendor/bin/infection -j2 --logger-github