name: Validate Composer files

on: [push]

jobs:
  validate_composer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Cache Composer dependencies
        uses: actions/cache@v4.3.0
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

      - name: Validate dependencies
        uses: php-actions/composer@v6.1.2
        with:
          command: validate
          php_version: "8.2.0"